a {
  color: #000;
  text-decoration: none;
}

body {
  background-color:#fec907;
  font-family: arial;
}

figcaption {
  color:#999999;
  padding:5px;
}

#center {

}

#content {
  float:right;
  width:600px;
}

#footer {
  color:#bbbbbb;
  clear:both;
  text-align:right;
}

#header {
  text-align:center;
  text-decoration: underline;
}

#navigation {
  float:left;
  width:180px;
}

#page {
  background-color: #ffffff;
  border: 10px solid #a17f05;
  margin: auto;
  padding: 20px;
  width: 800px;
}




